.btn {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-ease);

  &.variant-solid {
    padding: 14px 32px;
    color: #fff;
    background: var(--text-color);
    border-radius: 5px;
  }

  &.variant-outline {
    padding: 10px 22px;
    border: 1px solid var(--primary);
    border-radius: 10px;

    &:hover {
      color: #fff;
      background: var(--primary);
    }

    @include media("xs") {
      font-size: 14px;
    }
  }
}
