---
import App from "../layouts/App.astro";
import { H1, H2, H3, Button, Section, Image, Icon } from "@ui";
---

<App title="Главная">
  <main>
    <!-- Intro -->
    <Section name="intro" />
  </main>
</App>
