---
import App from "../layouts/App.astro";
import { H1, H2, H3, Button, Section, Image, Icon } from "@ui";
import { TheForm } from "@components";
---

<App title="Главная">
  <main>
    <!-- Intro -->
    <Section name="intro">
      <H2>
        Подберем <span>качественный автомобиль</span>
        <br /> в Москве и Санкт-Петербурге
      </H2>
      <div class="intro__img">
        <Image class="img-1" src="intro/1.png" />
      </div>
      <div class="intro__we-do">
        <p>
          Выполняем заказы на поиск <br />
          автомобиля под ключ <span class="text-primary">от 2 дней</span>
        </p>
        <div
          class="btn variant-outline"
          role="button"
          aria-label="Подобрать автомобиль"
          tabindex="0"
          data-modal="form"
        >
          Подобрать автомобиль
        </div>
      </div>
      <div class="intro__discount">
        <div class="intro__discount-title">ТОЛЬКО ДО КОНЦА ОКТЯБРЯ</div>
        <H2>Подбор под ключ</H2>
        <div class="intro__discount-price">
          <H2>10 000 ₽ </H2>
          <div class="text-gray">30 000 ₽</div>
        </div>
        <form class="intro__discount-form" id="form">
          <input type="text" name="phone" placeholder="+7 999-99-99" required />
          <button type="submit" aria-label="Подобрать">подобрать авто</button>
        </form>
      </div>
    </Section>

    <!-- Choose the best -->
    <Section name="best" main>
      <H2 class="title">
        Выбирайте <span class="text-primary">лучших</span>
      </H2>
      <ul class="best__list">
        <li class="best__list-item">
          <H2>КОЛИЧЕСТВО</H2>
          <p class="best__list-desc">
            ежедневно мы осматриваем более 30-ти автомобилей, что позволяет нам
            оперативно уберечь вас от хлама, и в кратчайшие сроки подобрать
            хороший автомобиль
          </p>
        </li>
        <li class="best__list-item">
          <H2>КАЧЕСТВО</H2>
          <p class="best__list-desc">
            имеем самое передовое техническое оснащение. Можем проводить
            диагностику любых автомобилей, вплоть до самых свежих версий
            немецких флагманов.
          </p>
        </li>
        <li class="best__list-item">
          <H2>СКОРОСТЬ</H2>
          <p class="best__list-desc">
            имеем несколько собственных автосервисов с подъёмниками, что
            позволяет существенно увеличить количество диагностируемых авто и
            снизить цену на подбор.
          </p>
        </li>
      </ul>
      <div class="subtitle reversed">
        <span class="text-primary">
          Выполняем заказы на поиск автомобиля под ключ</span
        >
        от 3 дней
      </div>
    </Section>

    <!-- Reviews -->
    <Section name="reviews" id="reviews">
      <H2>
        Сотни <span class="text-primary">положительных отзывов</span>
        на разных площадках
      </H2>

      <div class="reviews__swiper swiper">
        <div class="swiper-wrapper">
          {
            Array.from({ length: 6 }).map((_, i) => (
              <div class="swiper-slide reviews__review">
                <div class="reviews__review-user">
                  <div class="reviews__review-img">
                    <H2>И</H2>
                  </div>
                  <div class="flex-col">
                    <div class="reviews__review-name">Иван Иванов</div>
                    <div class="reviews__review-stars">
                      <Icon src="star.svg" />
                      <Icon src="star.svg" />
                      <Icon src="star.svg" />
                      <Icon src="star.svg" />
                      <Icon src="star.svg" />
                    </div>
                  </div>
                </div>
                <p class="reviews__review-desc">
                  Спасибо огромное ребятам за подбор машины. Давно хотел сменить
                  свой старый форда на более свежую машину, мне помогли
                  подобрать мазду 6 2018 года в идеальном состоянии, езжу и
                  радуюсь))
                </p>
              </div>
            ))
          }
        </div>
      </div>

      <div class="reviews__footer">
        <div class="reviews__footer-logos">
          <Image src="logos/yandex.svg" />
          <Image src="logos/avito.svg" />
        </div>
        <div class="reviews__footer-navigation">
          <div
            class="swiper-button-prev"
            role="button"
            aria-label="Назад"
            tabindex="0"
          >
          </div>
          <div
            class="swiper-button-next"
            role="button"
            aria-label="Вперед"
            tabindex="0"
          >
          </div>
        </div>
      </div>
    </Section>

    <!-- About -->
    <Section name="about">
      <div
        class="about__video"
        data-fancybox="about"
        data-src="https://youtu.be/U74rtOCuB-k?si=ZgmrMpKJiUvLXyR6"
        role="button"
        aria-label="Play video"
        tabindex="-1"
      >
        <div class="bg-img">
          <Image src="about-poster.png" />
        </div>

        <Icon src="play.svg" />
        <span>О нашей компании</span>
      </div>
      <div class="about__text">
        Множество компаний сегодня предлагает услуги автоподбора. Они
        соревнуются друг с другом, уверяя, что именно их сервис — лучший.
        <br /><br />
        Автоблогеры активно продвигают свои бренды, но часто далеки от реальной работы
        с подбором.
        <br /><br />
        Даже "эксперты" с досок объявлений, вооружившись толщиномером и серьезным
        выражением лица, претендуют на звание профессионалов. Однако каждый раз автоподбор
        превращается в игру на удачу.
        <br /><br />
        <strong>
          С нами же — <span>вы</span> можете быть <span>уверены</span> в профессионализме
          и высоком <span>качестве результата</span>.
        </strong>
      </div>
    </Section>

    <!-- What we check -->
    <Section name="check">
      <div class="bg-img">
        <Image src="check/bg.svg" />
      </div>

      <H2 class="title"> Что мы <span class="text-primary">проверяем</span></H2>

      <div class="check__img">
        <Image src="check/car.png" />

        <div class="tooltip tooltip-1">
          <div class="tooltip__trigger"></div>
          <div class="tooltip__content">
            <p>Эндоскопия двигателя и осмотр его состояния</p>
          </div>
        </div>

        <div class="tooltip tooltip-2">
          <div class="tooltip__trigger"></div>
          <div class="tooltip__content">
            <p>Проверка системы безопасности и наличия подушек</p>
          </div>
        </div>

        <div class="tooltip tooltip-3">
          <div class="tooltip__trigger"></div>
          <div class="tooltip__content">
            <p>
              Осмотр дефектов под резинками, обнаружение не заводских сварочных
              швов
            </p>
          </div>
        </div>

        <div class="tooltip tooltip-4">
          <div class="tooltip__trigger"></div>
          <div class="tooltip__content">
            <p>Проверка ЛКП толщинометром и визуальный осмотр состояния ЛКП</p>
          </div>
        </div>

        <div class="tooltip tooltip-5">
          <div class="tooltip__trigger"></div>
          <div class="tooltip__content">
            <p>Проверка тормозной системы автомобиля</p>
          </div>
        </div>

        <div class="tooltip tooltip-6">
          <div class="tooltip__trigger"></div>
          <div class="tooltip__content">
            <p>Проверка автомобиля на подъемнике</p>
          </div>
        </div>
      </div>

      <div class="check__footer">
        <div class="check__footer-title">
          В <span>нашей команде</span> самые <span>сильные мастера</span> - диагносты,
          <span>наш опыт</span> и богатое техническое оснащение в полном праве позволяет
          называть себя <span>командой №1</span>
        </div>
        <div
          class="btn variant-outline"
          role="button"
          tabindex="0"
          aria-label="Подобрать автомобиль"
          data-modal="form"
        >
          Подобрать автомобиль
        </div>
      </div>
    </Section>

    <!-- Our services -->
    <Section name="services">
      <div class="bg-img">
        <Image src="services-bg.svg" />
      </div>

      <H2 class="title">Наши <span class="text-primary">услуги</span></H2>

      <div class="services__list">
        <div class="services__service">
          <Icon src="car-insurance.svg" />
          <div class="services__service-content">
            <div class="services__service-title text-primary">
              Подбор автомобиля с пробегом под ключ
            </div>
            <ul class="services__service-list">
              <li>Поиск и проверка автомобилей до результата</li>
              <li>Комплексная проверка</li>
              <li>Торг с продавцом</li>
              <li>Сопровождение сделки</li>
            </ul>
            <div class="services__service-price">
              <span class="text-primary">от 10 000 руб.</span>
              <span class="line-through">от 30 000 руб.</span>
            </div>
            <div
              class="btn variant-outline"
              role="button"
              tabindex="0"
              aria-label="Заказать"
              data-modal="form"
            >
              Заказать
            </div>
          </div>
        </div>

        <div class="services__service">
          <Icon src="broken-car.svg" />
          <div class="services__service-content">
            <div class="services__service-title text-primary">
              Выездная диагностика автомобиля
            </div>
            <ul class="services__service-list">
              <li>Комплексная диагностика автомобиля.</li>
              <li>Экспертиза перед покупкой.</li>
            </ul>
            <div class="services__service-price">
              <span class="text-primary">от 4 000 руб.</span>
            </div>
            <div
              class="btn variant-outline"
              role="button"
              tabindex="0"
              aria-label="Заказать"
              data-modal="form"
            >
              Заказать
            </div>
          </div>
        </div>

        <div class="services__service">
          <Icon src="courier.svg" />
          <div class="services__service-content">
            <div class="services__service-title text-primary">
              Автоэксперт <br /> на день
            </div>
            <ul class="services__service-list">
              <li>Осмотр нескольких автомобилей в течение дня.</li>
              <li>Передвижение на автомобиле эксперта.</li>
            </ul>
            <div class="services__service-price">
              <span class="text-primary">от 12 000 руб.</span>
            </div>
            <div
              class="btn variant-outline"
              role="button"
              tabindex="0"
              aria-label="Заказать"
              data-modal="form"
            >
              Заказать
            </div>
          </div>
        </div>

        <div class="services__service">
          <Icon src="engine.svg" />
          <div class="services__service-content">
            <div class="services__service-title text-primary">
              Эндоскопия <br />
              двигателя
            </div>
            <div class="services__service-text">Определим:</div>
            <ul class="services__service-list">
              <li>Износ стенок цилиндров (задиры)</li>
              <li>Состояние форсунок</li>
              <li>Состояние маслосъемных колпачков</li>
              <li>Состояние клапанов</li>
            </ul>
            <div class="services__service-price">
              <span class="text-primary">от 5 000 руб.</span>
            </div>
            <div
              class="btn variant-outline"
              role="button"
              tabindex="0"
              aria-label="Заказать"
              data-modal="form"
            >
              Заказать
            </div>
          </div>
        </div>

        <div class="services__service">
          <Icon src="car-insurance2.svg" />
          <div class="services__service-content">
            <div class="services__service-title text-primary">
              Подбор нового автомобиля
            </div>
            <ul class="services__service-list">
              <li>Найдем лучшее предложение среди официальных дилеров</li>
              <li>Получим максимальную скидку.​​​​​​</li>
            </ul>
            <div class="services__service-price">
              <span class="text-primary">от 20 000 руб.</span>
            </div>
            <div
              class="btn variant-outline"
              role="button"
              tabindex="0"
              aria-label="Заказать"
              data-modal="form"
            >
              Заказать
            </div>
          </div>
        </div>

        <div class="services__service">
          <Icon src="money.svg" />
          <div class="services__service-content">
            <div class="services__service-title text-primary">
              Оценка <br /> перед продажей
            </div>
            <ul class="services__service-list">
              <li>Проверка автомобиля и определение его рыночной стоимости.</li>
              <li>Консультация эксперта по правильной и безопасной продаже</li>
            </ul>
            <div class="services__service-price">
              <span class="text-primary">от 6 000 руб.</span>
            </div>
            <div
              class="btn variant-outline"
              role="button"
              tabindex="0"
              aria-label="Заказать"
              data-modal="form"
            >
              Заказать
            </div>
          </div>
        </div>
      </div>

      <div class="services__additional">
        <H2>Дополнительные <span class="text-primary">услуги</span></H2>

        <ul class="services__additional-list">
          <li class="services__additional-item">
            <div class="services__additional-title">
              Проверка нового автомобиля перед получением в автосалоне
            </div>
            <div class="text-primary">от 5 000 руб.</div>
            <div
              class="btn variant-outline"
              role="button"
              tabindex="0"
              aria-label="Заказать"
              data-modal="form"
            >
              Заказать
            </div>
          </li>
          <li class="services__additional-item">
            <div class="services__additional-title">
              Сопровождение сделки в ГИБДД
            </div>
            <div class="text-primary">от 5 000 руб.</div>
            <div
              class="btn variant-outline"
              role="button"
              tabindex="0"
              aria-label="Заказать"
              data-modal="form"
            >
              Заказать
            </div>
          </li>
          <li class="services__additional-item">
            <div class="services__additional-title">Перегон автомобиля</div>
            <div class="text-primary">от 10 000 руб.</div>
            <div
              class="btn variant-outline"
              role="button"
              tabindex="0"
              aria-label="Заказать"
              data-modal="form"
            >
              Заказать
            </div>
          </li>
        </ul>

        <div class="subtitle">
          В 90% случаев стоимость автоподбора бесплатна, за счет
          аргументированного торга
        </div>
      </div>
    </Section>

    <!-- Mistake -->
    <Section name="mistake">
      <H2>
        Очень легко <span class="text-primary">ошибиться</span> при
        <span class="text-primary">самостоятельной <br /> покупке</span> автомобиля
      </H2>
      <div class="mistake__wrapper">
        <div class="mistake__card">
          <H3>
            Что <span class="text-primary">вам предлагают</span>
            <br />
            в объявлении
          </H3>
          <div class="swiper swiper-before">
            <div class="swiper-wrapper">
              {
                Array.from({ length: 3 }).map((_, i) => (
                  <div class="swiper-slide">
                    <Image src="mistake/before.png" />
                  </div>
                ))
              }
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
          <ul class="mistake__card-list list-check">
            <li>
              Вы нашли автомобиль с пробегом на специализированном сайте или в
              автосалоне.
            </li>
            <li>
              Он отлично выглядит, полностью устраивает вас по параметрам и
              цене, это то, что вы искали
            </li>
          </ul>
        </div>
        <div class="mistake__card">
          <H3>
            Что <span class="text-primary">вам продают</span>
            <br />
            на самом деле
          </H3>
          <div class="swiper swiper-after">
            <div class="swiper-wrapper">
              {
                Array.from({ length: 3 }).map((_, i) => (
                  <div class="swiper-slide">
                    <Image src="mistake/after.png" />
                  </div>
                ))
              }
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
          <ul class="mistake__card-list list-wrong">
            <li>
              Автомобиль может оказаться криминальным, тогда вы останетесь без
              машины.
            </li>
            <li>
              Если авто после сильного ДТП, без подушек безопасности, с
              сомнительным ремонтом кузова – он не спасет вас и ваших близких
              при аварии.
            </li>
            <li>
              Вам могут продать авто с серьезными техническими проблемами, со
              скрученным пробегом, в залоге или развалину после такси.
            </li>
          </ul>
        </div>
      </div>
    </Section>

    <!-- Choose Professionals -->
    <Section name="services">
      <H2 class="title">
        Выбирайте <span class="text-primary">профессионалов</span>
      </H2>

      <div class="services__list">
        <div class="services__service variant-profi">
          <Icon src="funding.svg" />
          <div class="services__service-content">
            <div class="services__service-title text-primary">
              Фиксированные цены
            </div>
            <div class="services__service-text">
              Никаких скрытых платежей, комиссий и доплат
            </div>
          </div>
        </div>

        <div class="services__service variant-profi">
          <Icon src="charity.svg" />
          <div class="services__service-content">
            <div class="services__service-title text-primary">
              Не берем процент от торга
            </div>
            <div class="services__service-text">
              Ищем лучший автомобиль для Вас а не доп заработок
            </div>
          </div>
        </div>

        <div class="services__service variant-profi">
          <Icon src="piston.svg" />
          <div class="services__service-content">
            <div class="services__service-title text-primary">
              Проверяем эндоскопом
            </div>
            <div class="services__service-text">
              Все скрытые проблемы двигателя выявляем на 100%
            </div>
          </div>
        </div>

        <div class="services__service variant-profi">
          <Icon src="garage.svg" />
          <div class="services__service-content">
            <div class="services__service-title text-primary">
              Большой опыт работы
            </div>
            <div class="services__service-text">
              Мы знаем все проблемные места и выявим все недостатки
            </div>
          </div>
        </div>

        <div class="services__service variant-profi">
          <Icon src="vision.svg" />
          <div class="services__service-content">
            <div class="services__service-title text-primary">
              Базы автомобилей
            </div>
            <div class="services__service-text">
              Доступ ко всем мировым базам автомобилей
            </div>
          </div>
        </div>

        <div class="services__service variant-profi">
          <Icon src="privacy-policy.svg" />
          <div class="services__service-content">
            <div class="services__service-title text-primary">Честность</div>
            <div class="services__service-text">
              Прозрачность подбора на всех этапах. Отчеты в мессенджерах
            </div>
          </div>
        </div>
      </div>
    </Section>

    <!-- Used Cars Market -->
    <Section name="market">
      <H2 class="title">
        Что не так с
        <span class="text-primary">вторичным рынком автомобилей?</span>
      </H2>
      <ul class="market__disadvantages">
        <li class="market__disadvantages-item">
          Сейчас очень много авто ввезенных параллельным импортом. И <span
            >80% автомобилей</span
          > имеют <span
            >скрученный пробег. Большинство подборщиков не смогут этого
            определить,</span
          > т.к. нет необходимого оборудования и нет доступа к иностранным базам.
          У нас все это есть.
        </li>
        <li class="market__disadvantages-item">
          <span>Автосалоны</span> нередко <span>хуже частных продавцов.</span> Зачастую
          у них имеется два вида диагностики авто. Одна внутренняя, где расписано
          многое и вторая для клиента, где почти что все хорошо.
        </li>
        <li class="market__disadvantages-item">
          Различные <span>схемы</span> с заменой и <span>подменой VIN</span> номеров.
          За время своей деятельности мы встретили огромное количество различных
          схем.
        </li>
        <li class="market__disadvantages-item">
          На рынке <span>полно авто</span> после серьезных <span>дтп</span>,
          которых нет в отчетах автотеки. <span
            >«Зеленая» автотека это не гарант хорошего автомобиля.</span
          > Есть продавцы, которые очень качественно умеют маскировать повреждения
          и детали
        </li>
      </ul>
      <div class="market__img">
        <Image src="market-img.png" />
      </div>
    </Section>

    <!-- Application -->
    <Section name="application">
      <Image class="application__img" src="macbook.png" />
      <TheForm />
    </Section>

    <div class="example"></div>
  </main>
</App>
