---
import { H2, Icon, Image } from "@ui";
---

<footer class="footer">
  <div class="footer__inner container">
    <div class="footer__content">
      <div class="footer__content-item">
        <a
          href="/"
          class="footer__content-logo"
          title="Команда по автоподбору №1 в Санкт-Петербурге"
        >
          <Image src="logo.svg" alt="logo" />
          <div class="text-xs font-light">
            Команда по автоподбору №1 <br />  в Санкт-Петербурге
          </div>
        </a>
        <div class="footer__content-socials">
          <a href="#" title="Telegram"><Icon src="telegram.svg" /></a>
          <a href="#" title="Whatsapp"><Icon src="whatsapp.svg" /></a>
        </div>
        <a href="https://seo-tex.ru/" class="footer__dev">
          <svg
            width="38"
            height="38"
            viewBox="0 0 38 38"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18.9798 0.842773C8.02448 0.842773 0 8.54858 0 19.3328C0 22.2523 0.586177 24.9334 1.65753 27.3167L11.1979 18.8561L7.82239 15.0628L29.1872 10.9318L22.1532 31.1895L18.7777 27.3962L9.52022 35.6184C12.2692 37.0483 15.4628 37.8428 18.9798 37.8428C29.9957 37.8428 38 30.1369 38 19.3527C38 8.56847 29.9957 0.842773 18.9798 0.842773Z"
              fill="#31424F"></path>
          </svg>
          <span>Разработка <br /> и продвижение</span>
        </a>
      </div>
      <div class="footer__content-item">
        <div class="footer__content-title">Услуги</div>
        <ul class="footer__content-list">
          <li><a href="#"> Подбор автомобиля под ключ</a></li>
          <li><a href="#"> Выездная диагностика автомобиля</a></li>
          <li><a href="#"> Автоэксперт на день</a></li>
          <li><a href="#"> Эндоскопия двигателя</a></li>
          <li><a href="#">Подбор нового автомобиля</a></li>
          <li><a href="#"> Оценка перед продажей</a></li>
        </ul>
      </div>
      <div class="footer__content-item">
        <div class="footer__content-title">Контакты</div>
        <div class="contacts__item">
          <div class="flex-row">
            <span>Москва</span>
            <a href="#" title="Whatsapp"><Icon src="whatsapp.svg" /></a>
            <a href="#" title="Telegram"><Icon src="telegram.svg" /></a>
          </div>
          <a href="tel:+79316665511" title="Телефон"> +7 (931) 666-55-11 </a>
        </div>
        <div class="contacts__item">
          <div class="flex-row">
            <span>Санкт-Петербург</span>
            <a href="#" title="Whatsapp"><Icon src="whatsapp.svg" /></a>
            <a href="#" title="Telegram"><Icon src="telegram.svg" /></a>
          </div>
          <a href="tel:+79316665511" title="Телефон"> +7 (931) 666-55-11 </a>
        </div>
      </div>
      <div class="footer__content-item">
        <div class="footer__content-desc">
          Актуальные новости и полезная информация в нашем телеграм канале.
        </div>
        <Image src="qr.svg" />
      </div>
    </div>
    <a href="https://seo-tex.ru/" class="footer__dev">
      <svg
        width="38"
        height="38"
        viewBox="0 0 38 38"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18.9798 0.842773C8.02448 0.842773 0 8.54858 0 19.3328C0 22.2523 0.586177 24.9334 1.65753 27.3167L11.1979 18.8561L7.82239 15.0628L29.1872 10.9318L22.1532 31.1895L18.7777 27.3962L9.52022 35.6184C12.2692 37.0483 15.4628 37.8428 18.9798 37.8428C29.9957 37.8428 38 30.1369 38 19.3527C38 8.56847 29.9957 0.842773 18.9798 0.842773Z"
          fill="#31424F"></path>
      </svg>
      <span>Разработка <br /> и продвижение</span>
    </a>
    <div class="footer__copyright">
      Информация на сайте не является публичной офертой и носит исключительно
      информационный характер
    </div>
  </div>
</footer>
